[submodule "package"]
	path = package
	url = https://github.com/m-lab/package
[submodule "echo"]
	path = echo
	url = https://github.com/m-lab/echo.git
[submodule "m-lab.pipeline"]
	path = m-lab.pipeline
	url = https://github.com/m-lab/pipeline.git
