[submodule "package"]
	path = package
	url = https://github.com/m-lab-tools/package
[submodule "echo"]
	path = echo
	url = https://github.com/m-lab/echo.git
[submodule "m-lab.pipeline"]
	path = m-lab.pipeline
	url = http://code.google.com/p/m-lab.pipeline
